* {
  box-sizing: border-box;
}

:root {
  --color-bg: rgb(19, 19, 19);
  --color-active: #0f7dc6;
  width: 1280px;
  margin: 100px auto;
  background-color: rgb(19, 19, 19);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg {
  width: 25px;
  height: 31px;
}